.admin__header{
    padding: 20px;
    box-shadow: -1px 18px 30px -15px rgba(0,0,0,0.08);
-webkit-box-shadow: -1px 18px 30px -15px rgba(0,0,0,0.08);
-moz-box-shadow: -1px 18px 30px -15px rgba(0,0,0,0.08);
display: flex;
align-items: center;
justify-content: space-between;
}
.admin__header .header__left{
    flex-basis: 40%;

}

.admin__header .header__left div{
    width: 100%;
display: flex;
align-items: center;
justify-content: flex-start;
padding: 2px 10px;
border: 1px solid var(--primary-color);
border-radius: 20px;
}
.admin__header .header__left div input{
    border: none;
    outline: none;
    padding: 5px;
}
