.sidebar__items{
    width: 100%;
    
}
.sidebar__items .single__item{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
  font-weight: 500;
  border-radius: 5px;
  position: relative;
    
}
.sub{
    position:absolute ;
    top: 0;
    left: 0;
    background-color: red;
}
.sidebar__items .single__item.active{
    color: var(--primary-color);
    background-color: #da6d0742;
    font-weight: bold;
}
.sidebar__items .single__item:hover{
    cursor: pointer;
    color: var(--primary-color);
    background-color: #da6d071a;
}
.single__item .MuiSvgIcon-root{
    margin-right: 10px;
    font-size: 18px;
}