.navbar{
    width: 100%;
    padding: 20px 40px;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
   /* background-color:  rgba(214, 51, 132, 0.11); */
   background-color: var(--bs-light);

   position: relative;
z-index: 99;
}
.navbar .navbar__left{
    margin-right: 20px;
}
.navbar.active{
    top: 0;
    position: sticky;
    background-color: var(--bs-light);
}
.navbar .navbar__middle{
   flex-basis: 70%;
   margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar .navbar__middle a{
    text-decoration: none;
    color: var(--bs-gray-dark);
    font-weight: 400;
    font-size: 16px;
    transition: .2s;
border-bottom: 1px solid transparent;

}
.navbar .navbar__middle a .contents{
    position: absolute;
    top: 90px;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 250px;
    color: var(--bs-gray-dark);
   transform: translateY(-125%);
   z-index: -1;
   transition: .3s;
   background-color: transparent;
}
.navbar .navbar__middle a .contents.active{
    transform: translateY(0%);
    background-color: var(--bs-light);
    opacity: 1;
    z-index: 10;

}
.navbar .navbar__middle a.active{
    color: var(--bs-orange);
    border-bottom: 1px solid var(--bs-orange);
    
    }
.navbar .navbar__middle a:hover{
    cursor: pointer;
color: var(--bs-orange);
border-color: var(--bs-orange);

}
.navbar  button{
    margin: 0 7px;
    border: none;
    outline: none;
 padding: 20px 40px;
 border-radius: 5px;
 font-size: 15px;
 font-weight: 600;
 transition: .4s;
}
/* --bs-orange: #fd7e14; */
  /* --bs-yellow: #ffc107; */
.navbar  .register__btn{
    background-color: var(--bs-yellow) ;
    color: var(--bs-gray-dark);
    
}
.navbar  .register__btn:hover{
    background-color: var(--bs-orange) ;
    color: #fff;
    cursor: pointer;
}
.navbar  .login__btn{
    background-color: var(--bs-orange) ;
    color: #fff;
}
.navbar  .login__btn:hover{
    background-color: var(--bs-yellow) ;
    color: var(--bs-gray-dark);
    cursor: pointer;
}