.services__cards{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 200px;
    border-radius: 15px;

}
.services__cards .single__service__card{
width: 260px;
background-color: #fff;
/* border: 1px solid var(--primary-color); */
padding: 10px;
height: 47%;
border-radius: 15px;
box-shadow: 0 0 9px 1px rgba(0,0,0,0.1);
margin-bottom: 10px;
display: flex;
align-items: center;
justify-content: space-between;
transition: .3s;
}
.services__cards .single__service__card:hover{
    cursor: pointer;
    box-shadow: 0 0 9px 1px rgba(0,0,0,0.3);

}
.services__cards .single__service__card img{
    width: 60px;
}
.services__cards .single__service__card div{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.services__cards .single__service__card div .team__members{
    font-size: 18px;
    font-weight: 400;
}
.services__cards .single__service__card div .team__counter{
    font-size: 30px;
    font-weight: 600;
}