.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{

    width: auto !important;
}

.about-content-slider .consultiva-swiper-pagination{

    position: absolute;
    top: 48%;
    bottom: auto;
    transform: translateY(-50%) rotate(-90deg);
    z-index: 2;
    position: absolute !important;
    left: -160px !important;
}

.primary-header {
    /* Your existing styles for the primary header */
    /* ... */
    
    /* Add transition for smooth animation */
    transition: background-color 0.3s ease-in-out; /* You can adjust the duration and easing function */
  }
  
  .primary-header.sticky {
    position: sticky;
    top: 0;
    background-color: lightgray; /* Change to the desired background color for the sticky header */
    z-index: 100;
  }